# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

locale     : "en-US"
timezone   : America/Chicago
#title      : HEART-GeN
#subtitle   : A computational biology group

name       : "Kynon JM Benjamin"
description: >- # this means to ignore newlines until "baseurl:"
  Improving neurotherapeutics for underrepresented communities.
baseurl    : ""
url        : "https://KrotosBenjamin.github.io"
repository : "KrotosBenjamin/KrotosBenjamin.github.io"
logo       : "assets/images/lab-logo.png"

# Handling Reading
encoding     : "utf-8"
markdown_ext : "markdown,mkdown,mkdn,mkd,md"

# Filtering Content
future      : false
show_drafts : null
unpublished : false
limit_posts : 0

# Build settings
markdown              : kramdown
# theme                 : minimal-mistakes-jekyll
remote_theme          : mmistakes/minimal-mistakes@4.24.0
minimal_mistakes_skin : contrast
plugins:
  - jekyll-feed
  - jekyll-coffeescript
  - jekyll-gist
  - jekyll-paginate
  - jekyll-include-cache
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-paginate-v2

# Outputting
pagination:
  enabled: true
  per_page: 5
  sort_reverse: true

# Markdown Processors
kramdown:
  toc_levels : [1, 2, 3, 4]

# Site Author
author:
  name       : "Kynon JM Benjamin"
  avatar     : "assets/images/headshot-causal.jpg"
  links:
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://linkedin.com/in/kjbenjamin90"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/Krotosbenjamin"
    - label: "ORCiD"
      icon: "fab fa-fw fa-orcid"
      url: "https://orcid.org/0000-0003-2016-4646"
    - label: "Email"
      icon: "fas fa-fw fa-envelope-square"
      url: "mailto:kynon.benjamin@northwestern.edu"

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
include:
  - pages

# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      author_profile: true
      read_time: true
      comments: # true
      share: true
      related: true
      show_date: true
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      is_post: false
      layout: single
      author_profile: true

# Customization
analytics:
  provider: "google-gtag"
  google:
    tracking_id: "G-ZY1QJT4PN9"
    anonymize_ip: false

enable_copy_code_button: true
